// ==========================================
// nextflow.config para Taxprofiler (CETA-GEN)
// Nó: 36 CPUs | 600 GB RAM
// ==========================================

params {
    // Limites reais passados ao Nextflow (com margem de segurança)
    max_cpus   = 36
    max_memory = '580.GB' // Deixamos 20 GB para o Sistema Operativo respirar
    max_time   = '240.h'
}



process {
    withName: '.*:NANOQ' {
        time = '12.h'   // Aumenta o limite para 12 horas (ou '24.h' se achar necessário)
    }
}